
body{
    font-family: "Kanit", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%; 
}

.logo1{
    margin: 4px 6px;
    padding: 10px 259px 10px 10px;
}

.spotimage {
    position: absolute;
    justify-content: center;
  }

h1{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    padding: 14px 12px;
    z-index: 1;
}


.behindh1 {
    width:211px;
    height:87px;
    background: white;
}

.open {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.list {
    font-size: 24px;
    font-weight: 500;
    background-color: black;
}

.orange {
    color: #F89A42;
    padding-top: 50px;
}

.yellow {
    color: #E7E614;
}

.pink {
    color: #D43494;
}

.map {
    border-color: black;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    margin: 0 50%;
    justify-content: center;
}

footer {
    display: flex;
}
